.body{
    background-color: black;
}
.header{
    height: 100px;
    background-color:black;
    text-align: center;
    color: white;
    padding:8px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.add-btn{
    width: 100px;
    height: 30px;
    background-color: #03a9f4;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    border: none;
    font-weight: bold;
}

.item{
    border: 2px solid lightgray;
    margin: 12px 0px;
    border-radius: 10px;
    background-color: f4f4f4;
}

.checkbox{
    margin-right: 15px;
}
.contant{
    display: inline-block;
}

#task-list{
    list-style: none;
    margin: 0 15%;
    background-color: black;
}
#new-task{
    width: 380px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid lightgray;
    font-size: 16;
    padding-left: 4px;
}
.task-list{
    list-style: none;
}

.removeBtn{
    
    width: 20px;
    padding-left: 6px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
    pointer-events: visibleFill;
}

.checked{
    display: inline-block;
    text-decoration: line-through;
    color: red;
}

.unChecked{
    display: inline-block;
    text-decoration: none;
    color:black; 
}